* {
  box-sizing: border-box;
}

body {
  font-size: 28px;
}

.header {
  text-align: center;
}

.header p {
  font-style: italic;
}

.nav-ul {
  width: 50%;
  list-style-type: none;
  margin: 2px;
  padding: 0;
  overflow: hidden;
  background-color: dimgray;
  position: sticky;
  top: 0;
}

.nav-ul li {
  float: left;
}

.nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-ul li a:hover {
  background-color: green;
  border: solid 2px black;
}

#section1 {
  clear:left;
}

.section-title {
  width: 40%;
  color: white;
  background-color: dimgray;
  padding: 14px 16px;
}

.text-section {
  float:left;
  padding: 14px 16px;
  border: solid 2px black;
}